* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 62, 5%;
    color: white;
    background-color: #f0f0f0;
}

textarea{
    resize: none;
    height: 5rem;
}

.nav-bar {
    display: flex;
    background-color: #213555;
    margin: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-buttons {
    display: flex;
    justify-content: end;
    padding: 0 2rem 0 2rem;
    gap: 1rem;
    width: 100vw;
}

.add-new-post-button{
    border: none;
    border-radius: 0.2rem;
    background-color: #f0f0f0;
    color: #213555;
    width: 5rem;
    height: 2rem;
    margin: auto;
}

.add-new-post-button:hover, .logout-link:hover{
    cursor: pointer;
    background-color: #e5d283;
}

.post-form {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.post-submit {
    align-self: center;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.main-content {
    display: flex;
}

.main-content,
.register-form-container,
.register-form,
.register-form > * {
    margin: 0;
    padding: 0;
}

.register-form-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    background-color: #4f709c;
    justify-content: center;
    align-items: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    justify-items: center;
    align-items: center;
}

.register-form > label {
    align-self: flex-start;
}

.register-form > input {
    height: 3rem;
    margin: 0.5rem 0 2rem 0;
    width: 30rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
}

.logout-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.2rem;
    background-color: #f0f0f0;
    color: #213555;
    width: 5rem;
    height: 2rem;
}

.post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #213555;
    height: 20rem;
    width: 30rem;
    margin: auto;
    gap: 10px;
    border-radius: 2rem;
}

.post-form > * {
    width: 20rem;
}

.post-submit{
    border-radius: 0.5rem;
    height: 2rem;
    width: 8rem;
}

.posts-container {
    background-color: #4f709c;
    min-height: 100vh;
    width: 80vw;
    margin: auto;
}

.posts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    width: 50vw;
    margin: auto;
}

.post-item {
    background-color: #213555;
    border-radius: 1rem;
    padding: 1rem;
    min-height: 15rem;
    max-width: 50rem;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #f0f0f0;
}

.post-item-button-container > button {
    border: none;
    background-color: #e5d283;
    color: #213555;
    border-radius: 0.5rem;
    height: 2rem;
    width: 8rem;
    margin: 0 0 0 auto;
}

.show-more-button {
    align-self: center;
    height: 2rem;
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #213555;
    height: 400px;
    width: 600px;
    margin: auto;
    gap: 10px;
    border-radius: 0.5rem;
}

#incorrect-credentials{
    color: red;
}

.login-form > input {
    height: 3rem;
    margin: 0.5rem 0 2rem 0;
    width: 30rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
}

.login-submit, .submit-register {
    align-self: center;
    width: 15rem;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: cadetblue;
}

.username-input,
.password-input,
.email-input {
    width: 15rem;
    align-self: center;
}

.submit-button {
    width: 5rem;
    align-self: center;
}

.modal-content {
    height: 300px;
    width: 100%;
    resize: none;
}

.modal-submit-btn {
    align-self: flex-end;
    width: 6rem;
    height: 3rem;
}
